.situasjon {
  display: flex;
  border-bottom: 1px solid @ikonGraa;
}

.situasjon:last-child {
  border-bottom: 0;
}

.situasjon__ikon {
  margin-right: 1em;
}

.leder {
  margin-bottom: 1em;
}

.leder:last-child {
  margin-bottom: 0;
}

.leder__informasjon {
  margin-bottom: .25em;
}

.leder--avkreftet {
  text-decoration: line-through; 
}