@dineOppgaverBorderFarge: #C2EAF7;

.dineOppgaver:extend(.panel) {
	box-shadow: 0 0 0 5px @dineOppgaverBorderFarge inset;
}

.dineOppgaver__container {
	padding-top: 1.5
}

.dineOppgaver__tittel {
	.mixin-typo-systemtittel();
	margin: 0 0 1em 0;
	padding-top: .5em;
	text-align:  center;
}


@media (min-width: @skjermLiten) {
	.dineOppgaver__tittel {
		width: 100%;
		text-align: left;
	}
}