.sykmelding-opplysning {

	margin-bottom: 2rem; 

	h3, h4 {
		margin-bottom: .5rem; 
	}

	h3 {
		.mixin-typo-etikett-liten(); 
		color: @gray-inactive; 
		margin-top: 0; 
	}

	h4 {
		.mixin-typo-element(); 
	}

	p {
		.mixin-typo-infotekst();
		margin: 0; 
	}

}

.sykmelding-perioder {

	margin-bottom: 2rem; 

	.sykmelding-opplysning:not(:only-child) {
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid @color-border;
	}

}

@media(min-width: @screen-xs) {
	.diagnose-container {
		display: flex; 

		.sykmelding-opplysning {
			margin-right: 2rem; 
			max-width: 70%;
		}
	}
}