.sykmelding-opplysning {

	margin-bottom: 2rem; 

	&:last-child {
		margin-bottom: 0; 
	}

	h3, h4 {
		margin-bottom: .5rem; 
	}

	h3 {
		.mixin-typo-etikett-liten(); 
		color: @gray-inactive; 
	}

	h4 {
		.mixin-typo-element(); 
	}

	p {
		.mixin-typo-infotekst();
	}

}