.dine-sykmeldinger-intro {
	.mixin-panel-padding(); 
	margin-bottom: 3rem; 
}

.dine-sykmeldinger {
	margin: 0 0 1rem 0; 
	padding: 0; 
	list-style-type: none; 
}

.dine-sykmeldinger-forklaringstittel {
	margin-top: 0;
	margin-bottom: 1rem;
	text-align: center; 
	.mixin-typo-innholdstittel(); 

	@media(min-width: 500px) {
		margin-bottom: 2rem; 
	}
}

.under-utvikling-varsel {
	transform: translateZ(0);
	position: relative;
	transition: opacity 700ms cubic-bezier(.55, 0, .1, 1);
	opacity: 0; 

	&.er-synlig {
		opacity: 1; 
	}

	.modal-lukk {
		top: 1rem;
		right: 1rem; 
	}
}
