@dineOppgaverBorderFarge: #C2EAF7;

.dineOppgaver:extend(.panel) {
	box-shadow: 0 0 0 5px @dineOppgaverBorderFarge inset;
}

.dineOppgaver__container {
	padding-top: 1.5
}

.dineOppgaver__illustrasjon,
.dineOppgaver__tittel {
	text-align:  center;
}

.dineOppgaver__tittel {
	.mixin-typo-systemtittel();
	margin: 0 0 1em 0;
	padding-top: .5em;
}

.dineOppgaver__liste {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		position: relative;
		padding-left: 0;
		position: relative;
		margin-bottom: 1em;
	}

	li:last-child {
		margin-bottom: 0;
	}

	a {
		.mixin-typo-ingress();
		background-image: data-uri("../img/png/pilNeste--graa.png");
		background-repeat: no-repeat;
		background-position: right center;
		background-size: .75em;
		padding-right: 1.25em;
		color: @navTekst;
	}

	a:hover {
		color: @lenkeBlaa;
		background-image: data-uri("../img/png/pilNeste--blaa.png");
	}

}

@media (min-width: @skjermLiten) {
	.dineOppgaver__container {
		display: flex;
	}

	.dineOppgaver__illustrasjon {
		margin-right: 2em;
	}

	.dineOppgaver__tekst {
		width: 100%;
	}

	.dineOppgaver__tittel {
		width: 100%;
		text-align: left;
	}
}