.header-bolk {
	.mixin-panel-padding(); 
	display: flex; 
	width: 100%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem; 
	margin-bottom: 0; 
	display: flex; 	
}

.header-ikon {
	width: 24px;
	height: auto; 
	margin-right: .5rem; 	
	align-self: flex-start;
}

.header-tittel {
	flex: 1;		
	margin: 0;
	.mixin-typo-element(); 
}

.header-bolk {
	.mixin-panel-padding();
	background: @white;  
	margin-bottom: 1px; 
	padding-top: 1.25em;
	padding-bottom: 1.25em; 
	.mixin-typo-element(); 
}