.illustrertInnhold__ikon {
	width: 3.125em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;

	img {
		width: 100%;
	}
}

@media (min-width: 40em) {
	.illustrertInnhold {
		display: flex;
	}

	.illustrertInnhold__ikon {
		margin: 0 2em 0 0;
		width: 4.5em;
		height: 4.5em;
	}

	.illustrertInnhold__ikon img {
		width: 4.5em;
		height: 4.5em;
	}

	.illustrertInnhold__innhold {
		align-self: center;
	}
}