.landingsside-banner {
  .mixin-panel-padding();
  background-color: @white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  display: block;
  color: @color-text;

  &:focus {
    background-color: @white;
    box-shadow: 0 0 0 3px @color-focus;
  }

}

.landingsside-intro {
  color: @color-text;

  .lenke-fremhevet {
    color: @color-link;
  }
  
}

.landingsside-intro-bilde {
  max-width: 18rem;
}

.landingsside-intro img {
  width: 100%;
} 



@media (min-width: @screen-small) {
  .landingsside-intro {
    display: flex;
  }

  .landingsside-intro-bilde {
    width: 40%;
    margin-right: 2rem;
  }

  .landingsside-intro-innhold {
    flex: 1
  }
}

.landingsside-lenke {

  .mixin-typo-undertittel();
  background-image: data-uri("../img/svg/pil-videre-graa.svg");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 1rem 1rem;
  transition: background-position ease-in-out .1s;
  transform: translate3d(0, 0, 0);
  width: 100%;

  &:hover {
    background-image: data-uri("../img/svg/pil-videre-blaa.svg");
    color: @color-link;
  }

}

.landingsside-lenke-ikon {
  width: 2rem;
  height: auto;
  margin-right: .5rem;
}

.landingsside-lenke-ikon-hoykontrast {
  display: none; 
}

.contrast {

  .landingsside-lenke-ikon {
    display: none; 
  }

  .landingsside-lenke-ikon-hoykontrast {
    display: inline;
  }
}