.side {
    padding-top: 2rem;
    padding-bottom: 4rem; 
}

.begrensning {
	max-width: 40rem; 
	margin-left: auto;
	margin-right: auto; 
	padding-left: .5em; 
	padding-right: .5em; 
}

.begrensning--bred {
	max-width: 60rem; 
}