.begrensning {
	max-width: 40rem; 
	margin-left: auto;
	margin-right: auto; 
	padding-left: .5rem; 
	padding-right: .5rem; 
} 

.side-header {
	margin-top: 0;
	margin-bottom: 2rem; 
	text-align: center; 
}

.panel-melding {
	text-align: center; 
}