 .opplysning {
    margin-bottom: 1rem;
    page-break-inside: avoid;
    display: inline-table;
    width: 100%;
    margin-bottom: 2rem;

    p {
        margin-bottom: 0;
    }

}

.opplysning__tittel {
    .mixin-typo-element();
    margin-top: 0;
    margin-bottom: .25rem;
}

.opplysning__verdi:before {
    content: "\2013 ";
    display: inline-block;
    margin-right: .25rem;
}

.nokkelopplysning {
    margin-bottom: 2rem;
    page-break-inside: avoid;
    display: inline-table;
    width: 100%;

    p {
        .mixin-typo-normal();
        margin: 0;
    }

    a {
        .mixin-lenke()
    }
}

@media (min-width: @skjermMini) {
    .nokkelopplysning--hoveddiagnose {
        margin-bottom: 0;
    }
}

.nokkelopplysning__tittel {
        .mixin-typo-etikettLiten();
        margin-bottom: .25rem;
        color: @inaktivGraa;
        margin-top: 0;
}

.nokkelopplysning__meta,
p.nokkelopplysning__meta {
    .mixin-typo-normal();
}

.nokkelopplysning__meta--desktop {
    display: none;
}

@media (min-width: @skjermMini) {
    .nokkelopplysning__meta--mobil {
        display: none;
    }

    .nokkelopplysning__meta--desktop {
        display: block;
    }
}

.subopplysning {
    margin-left: 1.5rem;
}

.checkboxOpplysning {
    display: flex;
    page-break-inside: avoid;

    img {
        align-self: flex-start;
        display: inline-block;
        width: 1rem;
        height: auto;
        margin-right: .5rem;
        margin-top: 2px;
        vertical-align: top;

        @media(min-width: @skjermMini) {
            margin-top: 1px;
        }
    }

}

.checkboxOpplysning__label {
    flex: 1;
}

.opplysning .checkboxOpplysning {
    margin-bottom: .5rem;

    &:last-child {
        margin-bottom: 1rem;
    }
}


.statusopplysninger {

    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }

    .nokkelopplysning:last-child {
        margin-bottom: 0;
    }

}

.nokkelopplysning--statusopplysning {
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: @skjermMedium) {

    .statusopplysninger {
        display: flex;
        flex-wrap: wrap;

        &:last-child .nokkelopplysning--statusopplysning {
            margin-bottom: 0;
        }

        .nokkelopplysning__tittel {
            word-break: break-word;
            hyphens: auto;
        }

    }

    .nokkelopplysning--statusopplysning {
        width: ~"calc(50% - 1em)";

        &:first-child {
            margin-right: 1em;
        }

        &:last-child {
            margin-left: 1em;
        }

    }

    .nokkelopplysning--statusopplysning:only-child {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

}
