.blokk__velgarbeidsgiver {
    padding-left: 4em;
    padding-right: 4em;
}
.lenke {
    cursor: pointer;
}
.lenke__avbryt {
    text-transform: uppercase;
}
.knapp__opprettOppfolgingsdialog {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    line-height: 1;
    border: 2px solid #0067c5;
    border-radius: .125em;
    margin: auto;
    margin-bottom: 3rem;
    padding: 0.6em 2.4em;
    font-family: Arial,Sans-serif;
    font-size: 0.875em;
    color: #0067c5;
    letter-spacing: .0625em;
    text-decoration: none;
    text-transform: uppercase;
}
.knapp__velgarbeidsgiver, knapp__samtykk {
    margin-right: 1em;
}
.knapp__velgarbeidsgiver:disabled {
    background-color: #7f756c;
}
.pil {
    display: block;
    margin: 0 auto 2em auto;
}
.inputgruppe {
    margin-bottom: 2em;
}
.skjema__input--inaktiv {
    opacity: 0.5;
}
.skjema__feilomrade {
    margin-left: 2em;
    margin-bottom: 1em;
    vertical-align: middle;
    line-height: 1em;
}
.skjema__feilomrade__ikon {
    margin-right: 1em;
}
.skjema__feilomrade__tekst {
    font-size: 0.8em;
}