.blokk__velgarbeidsgiver {
    padding-left: 4em;
    padding-right: 4em;
}
.lenke {
    cursor: pointer;
}
.lenke__avbryt {
    text-transform: uppercase;
}
.knapp__opprettOppfolgingsdialog {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    line-height: 1;
    border: 2px solid #0067c5;
    border-radius: .125em;
    margin: auto;
    margin-bottom: 3rem;
    padding: 0.6em 2.4em;
    font-family: Arial,Sans-serif;
    font-size: 0.875em;
    color: #0067c5;
    letter-spacing: .0625em;
    text-decoration: none;
    text-transform: uppercase;
}
.knapp__velgarbeidsgiver {
    margin-right: 1em;
}
.knapp__velgarbeidsgiver:disabled {
    background-color: #7f756c;
}
.knapp__samtykk {
    margin-right: 1em;
}
.knapp__opprettarbeidsoppgave {
    margin-right: 1em;
}
.pil {
    display: block;
    margin: 0 auto 2em auto;
}
.inputgruppe__velgarbeisgiver {
    margin-bottom: 2em;
}
.skjema__input--inaktiv {
    opacity: 0.5;
}
.skjema__feilomrade {
    margin-left: 2em;
    margin-bottom: 1em;
    vertical-align: middle;
    line-height: 1em;
}
.skjema__feilomrade__ikon {
    margin-right: 1em;
}
.skjema__feilomrade__tekst {
    font-size: 0.8em;
}
.inputgruppe__samtykke {
    margin-top: 4em;
    text-align: center;
}
.inputgruppe__samtykke > div {
    display: inline-block;
}

.arbeidsoppgave__infoboks {
    background-color: #FDBC6D;
}

.arbeidsgivertabell {
    width: 100%;

    tr {
        border-bottom: 0.5em solid #efefef;
    }
    tbody tr:last-child {
        border-bottom: none;
    }

    th {
        color: #000;
        background: #fff;
        text-align: left;
        padding: 1em;
    }

    td {
        padding: 1.5em 1em;
        background: #fff;
        &:last-child {
            padding-left: 0;
            cursor: pointer;
        }
    }

    td, th {
        &:nth-child(1) {
            width: 40%
        }
    }
}
.arbeidsgivertabell__advarsel__ikon {
    margin-right: 1em;
}
.panel--lysblaa {
    background: #cfe2f3;
}
.panel--oransje {
    background: #fdbc6d;
};
.panel_informasjon {
    padding: 1em 2em;
}
.panel_informasjon_img {
    margin-right: 1em;
}
.panel_informasjon_tekst {

}







.oppfolgingsdialogLenkAktiv {
    font-size: 0.8rem;
}
.oppfolgingsdialogHeaderDiv{
    background-image: data-uri("../img/svg/pil-videre-graa.svg");
    background-repeat: no-repeat;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}