@panelLysblaa: #cfe2f3;
@fargeAdvarsel: #fdbc6d;
@fargeSuksess: #9bd0b0;

.lenke {
    cursor: pointer;
}
.lenke--avbryt {
    text-transform: uppercase;
}
.knapperad--justervenstre {
    text-align: left;
}
.panel--lysblaa {
    background: @panelLysblaa;
}
.panel--advarsel {
    background: @fargeAdvarsel;
}
.panel--suksess {
    background: @fargeSuksess;
}

.velgarbeidsgiver__blokk {
    padding-left: 4em;
    padding-right: 4em;
}
.velgarbeidsgiver__inputgruppe {
    margin-bottom: 2em;
}
.velgArbeidsgiverFeilmelding {
    margin-left: 2em;
    margin-bottom: 1em;
    vertical-align: middle;
    line-height: 1em;
}
.velgArbeidsgiverFeilmelding__ikon {
    margin-right: 1em;
}
.velgArbeidsgiverFeilmelding__tekst {
    font-size: 0.8em;
}
.skjema__input--inaktiv {
    opacity: 0.5;
}