.hovedsporsmal, .presisering, .snakkeboble {
    padding: 1em;
    background-color: @white;
    position: relative;

    @media(min-width: @skjermMini) {
        padding: 2em;
    }
}

.hovedsporsmal__tilleggssporsmal {
    padding-top: 2em;
}

.tilleggssporsmal {
    @media(min-width: @skjermMini) {
        padding-top: 0;
    }
}

.tilleggssporsmal {
    padding: 1em;
    background-color: @white;
    position: relative;

    @media(min-width: @skjermMini) {
        padding-top: 0;
    }
}

.tilleggssporsmal__innholdContainer--medAnimasjon {
    overflow: hidden;
    .transition-mixin(.3s, height);
    transform: translate3d(0, 0, 0);
}

.tilleggsinnhold__innhold {
    opacity: 0;
    .transition-mixin(.3s, opacity);
    position: relative;
}

.ekstrasporsmal, .presisering {
    padding: 1em;
    position: relative;

    &:after {
        font-size: 1.3333333333333333em;
        top: 0;
        transform: translateY(-50%) rotate(45deg) skew(5deg, 5deg);
    }
}

.presisering, .snakkeboble {
    margin-top: 2em;

    &:after {
        background-color: @white;
    }
}

.ekstrasporsmal {
    background-color: @grayBackground;
    margin: 2em -.5em .5em;

    @media(min-width: @skjermMini) {
        margin-left: -1em;
        margin-right: -1em;
        padding-left: 1em;
        padding-right: 1em;
    }

    &:after {
        background-color: @grayBackground;
    }
}

.ekstrasporsmal, .presisering, .snakkeboble {
    &:after {
        content: "";
        width: 1em;
        height: 1em;
        position: absolute;
        display: block;
        left: 1em;
        transform-origin: 50% 50%;

        @media(min-width: @skjermMini) {
            left: 1.5em;
        }
    }
}

.presisering {
    margin-top: 2em;

    p:last-child {
        margin-bottom: 0;
    }

    &:after {
        background-color: @white;
    }
}

.snakkeboble {
    &:after {
        font-size: 1.3333333333333333em;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%) rotate(45deg) skew(5deg, 5deg);
    }
}

#cb-checkbox-utenlandsopphold .ekstrasporsmal, .ekstrasporsmal--sist {
    margin-bottom: ~"calc(-.5em + 1px)";

    @media(min-width: @skjermMini) {
        margin-bottom: ~"calc(-1em + 1px)";
    }
}
