.sykmelding-teaser {

	margin-bottom: 1px; 
	padding-right: 3rem; 
	background-image: data-uri("../gfx/svg/pil-videre-graa.svg");
	background-repeat: no-repeat;
	background-position: 97% center; 
	background-size: 2rem 2rem; 
	transition: background-position ease-in-out .1s; 	

	&:hover {
		background-image: data-uri("../gfx/svg/pil-videre-blaa.svg");
		background-position: 97.5% center; 
	}

	p {
		margin: 0; 
		padding: 0; 
	}

	p {
		.mixin-typo-infotekst(); 
	}

}

.sykmelding-teaser-tittel {
	.mixin-typo-element(); 
	margin: 0; 		
	padding: 0; 

	small, span {
		display: block; 
		margin-bottom: 8px; 
	}
}