.panel.sykmelding-teaser:extend(.panel) {

	margin-bottom: 1px; 
	padding-right: 3rem; 
	background-image: data-uri("../img/svg/pil-videre-graa.svg");
	background-repeat: no-repeat;
	background-position: 97% center; 
	background-size: .5rem .5rem; 
	transition: background-position ease-in-out .1s; 	
	display: flex; 
	width: 100%;

	&:hover {
		background-image: data-uri("../img/svg/pil-videre-blaa.svg");
		position: relative; 
		z-index: 1;
	}

	p {
		margin: 0; 
		padding: 0; 
		.mixin-typo-infotekst(); 
	}

}

.teaser-ikon {
	display: none; 
}

@media(min-width: 500px) {

	.teaser-ikon {
		display: block;
		align-self: flex-start;
		padding-top: 2rem; 
	}

	.teaser-ikon {
		width: 2rem;
		box-sizing: content-box;
		padding-right: 1rem;

		img {
			width: 100%;
			height: auto; 
		}
	} 	

}

.teaser-meta {
	display: block; 
	.mixin-typo-normal(); 
}

.teaser-tittel {
	.mixin-typo-element(); 
	margin: 0; 		
	padding: 0; 

	small, span {
		display: block; 
		margin-bottom: 8px; 
	}
}