@okFarge: #97D2AE;
@aktivFarge: @aktivBlaa;

.stegvisKvittering {
    margin-left: auto;
    margin-right: auto;
}

.kvitteringsteg {
    position: relative;
}

.kvitteringsteg__innhold {
    margin-bottom: 1em;
    padding-left: 3.5em;
    min-height: 3.5em;

    ul {
        text-align: left;
        display: inline-block;
        padding-left: 1em;
    }
}

.kvitteringsteg:last-child .kvitteringsteg__innhold {
    margin-bottom: 0;
    padding-bottom: 0;
}

.kvitteringsteg__tekst {
    margin-bottom: 0;

    a {
        .mixin-lenke();
    }

    ul {
        margin-top: 0;
    }
}

.kvitteringsteg__handling {
    margin: 2em 0;
}

.kvitteringsteg__tittel {
    .mixin-typo-undertittel();
    margin-top: 0;
    margin-bottom: .25em;
}

.kvitteringsteg__nummer {
    position: absolute;
    font-size: 1em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    left: 0;
    top: 0;
    font-weight: 200;
    border-radius: 1em;
    border: 1px solid @ikonGraa;
}

.kvitteringsteg__nummer--ok {
    background-color: @okFarge;
    border-color: @okFarge;
}

.kvitteringsteg__nummer--aktiv {
    background-color: @aktivFarge;
    border-color: @aktivFarge;
    color: @hvit;
    font-weight: 700;
}

.kvitteringsteg__tittel:before {
    content: '';
    width: 1px;
    height: ~'calc(100% - 2.25em)';
    background-color: @ikonGraa;
    position: absolute;
    left: 1em;
    bottom: -.25em;
    transform: translateX(-50%);
}

.kvitteringsteg:last-child .kvitteringsteg__tittel:before {
    content: none;
}
