.sekundaerLabel {
    display: block; 
    .mixin-typo-undertekst(); 
    .mixin-typo-mute();
} 

.radiogruppeLabel {
    margin-top: 0;
    margin-bottom: .5rem;
}

.avbrytSykmelding {
    display: inline-block;

    .panel-ekstra:before {
        left: 50%;
    }
}
