.panel.sykmelding-teaser:extend(.panel) {

	margin-bottom: 1px; 
	padding-right: 3rem; 
	background-image: data-uri("../img/svg/pil-videre-graa.svg");
	background-repeat: no-repeat;
	background-position: 97% 1rem; 
	background-size: 1rem 1rem; 
	transition: background-position ease-in-out .1s; 	
	display: flex; 
	width: 100%;

	&:hover, &:focus {
		position: relative; 
		z-index: 1; 	
	}

	&:hover {
		background-image: data-uri("../img/svg/pil-videre-blaa.svg");
	}

	p {
		margin: 0; 
		padding: 0; 
		.mixin-typo-infotekst(); 
	}

	@media(min-width: 500px) {
		background-position: 97% 2rem; 
	}

}

.teaser-ikon {
	display: none; 
}

@media(min-width: 500px) {

	.teaser-ikon {
		display: block;
		align-self: flex-start;
		width: 2rem;
		box-sizing: content-box;
		padding-right: 1rem;

		img {
			width: 100%;
			height: auto; 
		}
	}

	.teaser-ikon-hoykontrast, 
	.contrast .teaser-ikon {
		display: none; 
	}

	.contrast .teaser-ikon-hoykontrast {
		display: block; 
	}

}

.teaser-meta {
	display: block; 
	.mixin-typo-normal(); 
	margin-bottom: 8px; 
}

.teaser-header {
	margin: 0; 
}

.teaser-tittel {
	.mixin-typo-element(); 
	display: block; 
	margin: 0; 
	margin-bottom: 8px; 
	padding: 0; 
}

.teaser-punktliste {
	margin: 0; 
	padding-left: 1rem; 
}