.sekundaerLabel {
    display: block; 
    color: @inaktivGraa;
    .mixin-typo-undertekst(); 
} 

.radiogruppeLabel {
    margin-top: 0;
    margin-bottom: .5rem;
}

.dinSykmeldingSkjema__sendInfo {
    .mixin-panel-padding();
    margin-bottom: 0;
}

.skjema__sporsmal__intro  {
    margin-top: -1em;
}