.select-container--liten {
    &:after {
        top: 8px;
    }

    select {
	    padding: 0.3rem 1.7rem 0.3rem 0.3rem;
	}
}

.select-container .er-skjult{
	display:none;
}

.mixin-typo-mute() {
	color: @gray-inactive; 
}

@media (min-width: @screen-small) {
    // 620px;
    .select-container--liten {
    	option, select {
            font-size: @rem-as-14px;
        }
    }
}

@media (min-width: @screen-small) {

	.header-verktoy {
		display: flex; 
		align-self: center; 

		.select-container {
			align-self: center; 		
		}
	}

	.header-verktoy-label {
		margin: 0 .5rem 0 0; 
	}
	
}

.med-hjelpetekst {
	padding-right: 2rem;
}

.header-verktoy-label {
	.mixin-typo-normal(); 
	color: @gray-icon;
	align-self: center; 
}

.contrast .modal-lukk, .modal-lukk:hover, .modal-lukk:focus, .modal-lukk:active {
    background-image: data-uri('image/svg+xml;charset=UTF-8', '../img/svg/modig-frontend_ikon-kryss-hvit.svg');
}

.hjelpetekst-lukk {
    background-image: data-uri('../img/png/modig-frontend_ikon-kryss-hvit.png');
    // Bruker PNG fordi IE11 ikke vil rendre SVG
}

.skjema-feilomrade.feil:focus {
    box-shadow: 0 0 0 4px @color-focus;
    outline: none; 
}

.hode-brodtekst {
    text-align: left;
}