.utvidbar {
	border: 1px solid @color-border; 
	border-radius: 2px; 
}

.input-sok {
	margin-right: .5rem; 
} 

.utvidbar-tittel {
	.mixin-typo-normal();
	margin: 0; 

	a {
		color: @color-text; 
		display: table;
		padding: 10px;
		width: 100%; 
	}

	a:focus {
		background-color: transparent; 
		box-shadow: 0 0 0 3px @color-focus; 
	}

	span {
		display: table-cell; 
		vertical-align: middle; 
	}

	img {
		height: auto;
		width: 24px;
	}

}

.utvidbar-ikon {
	width: 34px; 
}

.utvidbar-tittel--apen a:after {
	border-top-width: 0; 
	border-bottom-width: .75rem; 
}

.utvidbar-innhold-beholder {
	max-height: 1500px; 
	transition: max-height ease-in-out .6s; 
	overflow: hidden; 
}

.utvidbar-innhold-beholder--lukket {
	max-height: 0; 
}

.utvidbar-innhold {
	padding: 2rem;
	padding-bottom: 2.5rem; 
}