@nodeModulesPath: "node_modules/";

@import "@{nodeModulesPath}nav-frontend-core/less/styles";
@import "@{nodeModulesPath}nav-frontend-skjema-design/less/styles";
@import "@{nodeModulesPath}nav-frontend-typografi-design/less/styles";
@import "@{nodeModulesPath}nav-frontend-knapper-design/less/styles";
@import "@{nodeModulesPath}nav-frontend-brodsmuler-design/less/styles";
@import "@{nodeModulesPath}nav-frontend-hjelpetekst-design/less/styles";
@import "@{nodeModulesPath}nav-frontend-stegindikator-design/less/styles";

@import "_paneler.less";
@import "_hoder.less";
@import "_artikkel.less";
@import "_headers.less";
@import "_layout.less";
@import "_utvidbar.less";
@import "_tidslinjeBoble.less";
@import "_tidslinjeHendelse.less";
@import "_landingsside.less";
@import "_radiofaner.less";
@import "_illustrertTittel";
@import "_underUtvikling.less";
@import "_varselstripe.less";
@import "_sykmelding.less";
@import "_sykmeldingArbeidsgiver.less";
@import "_sykmeldingKvittering.less";
@import "_sykmeldingSkjema.less";
@import "_opplysninger.less";
@import "_navigasjonsstripe.less";
@import "_media.less";
@import "_inngangspanel.less";
@import "_sidetopp.less";
@import "_spinner.less";
@import "_naermesteLedere.less";
@import "_mote.less";
@import "_lightbox.less";
@import "_sporsmal.less";
@import "_sykepengersoknad.less";
@import "_Daypicker.less";
@import "_overstyringer-dekorator.less";
@import "_lenker.less";
@import "_redaksjonelt.less";
@import "_utils.less";
@import "_avstander.less";

@import "_dekoratorVarsler.less";

@greenLight: #63b282;
@blueLight: #c3ddf4;
@navTekst: #3e3832;
@skjermLiten: 30em;
@skjermMedium: 35em;

.mixin-panel-padding() {
	padding-left: 1rem; 
	padding-right: 1rem; 

	@media(min-width: @skjermMini) {
		padding-left: 2rem; 
		padding-right: 2rem; 
	}
}

.medHjelpetekst {
	display: flex;
	position: relative;
	align-items: flex-start;
}

.start-container {
	margin-bottom: 1rem; 

	@media(min-width: 29rem) {
		display: inline-block;
		margin-right: 1rem; 	
	}
}

@media print { 

	.ikke-print {
		display: none; 	
	}

    .panel {
        border: 1px solid @ikonGraa;
	}

    .sykmelding-nokkelopplysning, .sykmelding-opplysning {
        page-break-inside: avoid;
    }

    .utvidbar[aria-expanded="false"] {
        display: none;
    }
}

p {
	margin-top: 0;
}

.typo-syfotittel {
    font-family: @profilfont;
    font-size: 1.25em;
    font-weight: normal;
}

.panel--feiloppsummering {
	background-color: @advarselRoed;
	color: @hvit;

	&:focus {
		outline: none;
		box-shadow: 0 0 0 3px @bakgrunnGraa, 0 0 0 6px @fokusOrange;
	}

	a:link {
		color: @hvit;
		border-bottom: 1px solid @advarselRoedBakgrunn;
	}

	a:hover, a:active {
		border-bottom-color: @hvit;
	}

	a:focus, a:active {
		color: @navTekst;
		border-bottom-color: @fokusOrange;
	}

	a:visited {
		color: @hvit;
	}
}

.feiloppsummering__tittel {
	.mixin-typo-undertittel();
	margin-top: 0;
}

.feiloppsummering__liste {
	padding: 0;
	margin: 0;
	margin-left: 2em;
}

.feiloppsummering__feil {
	margin-bottom: .25em;
}

.skjema__feilomrade:focus {
	outline: none;
}

.skjema__feilomrade--feil:focus {
	box-shadow: 0 0 0 8px @advarselRoedBakgrunn, 0 0 0 11px @fokusOrange;
}