<!DOCTYPE html>
<html>
<head>
	<title>Ditt sykefravær</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
    <body>
    	<h1>Ooops, denne siden finnes ikke!</h1>
    	<p>Men du ser kanskje etter <a href="/syfofront/app">ditt sykefravær</a>?</p>
    	<p>Alternativt kan du gjøre et søk på <a href="http://www.nav.no">nav.no</a></p>
    </body>
</html>