{{=<% %>=}}
<!DOCTYPE html>
<html>
<head>
	<title><% title %></title>
	<meta charset="UTF-8">
	{{fragment.styles}}
	<script src="/sykefravaer/vendor/jquery.min.js"></script>
	{{fragment.scripts}}
	<link href="/sykefravaer/styles/styles.css" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
    <body>
    	{{fragment.header}}
		<div id="root"></div>
		{{fragment.footer}}
		<%={{ }}=%>
		<script>
			window.SYFO_SETTINGS = {
				"REST_ROOT": "{{{restRoot}}}"
			};
		</script>
		<script src="{{{buildRoot}}}/{{{bundleFileName}}}"></script>
    </body>
</html>