/*

Dersom du ønsker å bruke typografi fra NAVs typografiske hierarki men 
ikke ønsker å bruke klassene for dem i HTML-en din, kan du bruke følgende mixins.

De er også responsive slik at: 

	.min-tittel {
		.mixin-typo-sidetittel(); 
	}

...vil gi følgende output i CSS: 

	.min-tittel {
		// Regler
	}

	@media(min-width: 30em) {
		.min-tittel {
			// Regler
		}
	}

*/
@-webkit-keyframes rotering {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotering {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.hode {
  margin-top: 0;
  position: relative;
  padding-top: 3.6rem;
}
.hode:before {
  content: "";
  width: 2rem;
  height: 2rem;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  left: 50%;
  position: absolute;
  top: 0;
  background-color: #3e3832;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.tittel-dekorert,
.hode-dekorert {
  padding-bottom: 2rem;
  position: relative;
  text-align: center;
}
.tittel-dekorert:after,
.hode-dekorert:after {
  content: "";
  width: 2rem;
  height: 1px;
  left: 50%;
  bottom: 0;
  position: absolute;
  background-color: #3e3832;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hode-innholdstittel {
  font-family: Modus, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
@media (min-width: 30em) {
  .hode-innholdstittel {
    font-size: 1.875rem;
  }
}
.hode-undertittel {
  font-family: Modus, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 20px;
  padding-top: 52px;
  padding-bottom: 20px;
}
.hode-etikett-liten {
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
}
@media (min-width: 30em) {
  .hode-etikett-liten {
    font-size: 0.75rem;
  }
}
.hode-advarsel:before,
.hode-advarsel:after {
  background-color: #ff9100;
}
.hode-advarsel:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%224px%22%0A%09%20height%3D%2216px%22%20viewBox%3D%220%200%204%2016%22%20enable-background%3D%22new%200%200%204%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22bkdg%22%20display%3D%22none%22%20opacity%3D%220.1%22%3E%0A%09%3Crect%20x%3D%22-6%22%20display%3D%22inline%22%20fill%3D%22%23FFFFFF%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Layer_1%22%3E%0A%09%3Crect%20y%3D%2213%22%20fill%3D%22%23FFFFFF%22%20width%3D%224%22%20height%3D%223%22%2F%3E%0A%09%3Crect%20fill%3D%22%23FFFFFF%22%20width%3D%224%22%20height%3D%2211%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.hode-suksess:before,
.hode-suksess:after {
  background-color: #119b49;
}
.hode-suksess:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%0A%09%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22bkdg%22%20display%3D%22none%22%20opacity%3D%220.1%22%3E%0A%09%3Crect%20display%3D%22inline%22%20fill%3D%22%23FFFFFF%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Layer_1%22%3E%0A%09%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2213%2C0%206.1%2C12.2%203%2C7%200%2C7%205%2C16%208%2C16%2016%2C0%20%09%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.hode-informasjon:before,
.hode-informasjon:after {
  background-color: #b7b1a9;
}
.hode-informasjon:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%226px%22%0A%09%20height%3D%2216px%22%20viewBox%3D%220%200%206%2016%22%20enable-background%3D%22new%200%200%206%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22bkdg%22%20display%3D%22none%22%20opacity%3D%220.1%22%3E%0A%09%3Crect%20x%3D%22-5%22%20display%3D%22inline%22%20fill%3D%22%23FF00FF%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Layer_1%22%3E%0A%09%3Cg%3E%0A%09%09%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%226%2C14%206%2C16%200%2C16%200%2C14%202%2C14%202%2C7%200%2C7%200%2C5%205%2C5%205%2C14%20%09%09%22%2F%3E%0A%09%3C%2Fg%3E%0A%09%3Ccircle%20fill%3D%22%23FFFFFF%22%20cx%3D%223%22%20cy%3D%222%22%20r%3D%222%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.hode-feil:before,
.hode-feil:after {
  background-color: #ba3a26;
}
.hode-feil:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%224px%22%0A%09%20height%3D%2216px%22%20viewBox%3D%220%200%204%2016%22%20enable-background%3D%22new%200%200%204%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22bkdg%22%20display%3D%22none%22%20opacity%3D%220.1%22%3E%0A%09%3Crect%20x%3D%22-6%22%20display%3D%22inline%22%20fill%3D%22%23FFFFFF%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Layer_1%22%3E%0A%09%3Crect%20y%3D%2213%22%20fill%3D%22%23FFFFFF%22%20width%3D%224%22%20height%3D%223%22%2F%3E%0A%09%3Crect%20fill%3D%22%23FFFFFF%22%20width%3D%224%22%20height%3D%2211%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
/*hode-vedlegg og hode-soknad brukes kun i søknadinnsending (temporær videreføring av gamle ikoner)*/
.hode-vedlegg:before,
.hode-vedlegg:after {
  background-color: #bdbab7;
}
.hode-vedlegg:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%0A%09%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22bkdg%22%20display%3D%22none%22%20opacity%3D%220.1%22%3E%0A%09%3Crect%20x%3D%220%22%20y%3D%220%22%20display%3D%22inline%22%20fill%3D%22%23FF00FF%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Layer_1%22%3E%0A%09%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M15%2C6.7l-7.2%2C8C7%2C15.5%2C5.9%2C16%2C4.7%2C16h0c-1.3%2C0-2.5-0.5-3.4-1.5c-1.7-1.9-1.8-5.1-0.1-7l6-6.6l0.9%2C1l-6%2C6.6%0A%09%09c-1%2C1.2-1.3%2C3.5%2C0.1%2C4.9c0.6%2C0.7%2C1.5%2C1.1%2C2.4%2C1.1l0%2C0c0.8%2C0%2C1.6-0.3%2C2.2-0.9l7.2-8C14.8%2C4.9%2C15%2C3.3%2C14%2C2.2c-0.9-1-2.5-0.9-3.2-0.1%0A%09%09L5.9%2C7.5C5.5%2C7.8%2C5.4%2C8.3%2C5.4%2C8.7c0%2C0.4%2C0.1%2C0.8%2C0.4%2C1.1c0.3%2C0.3%2C0.6%2C0.5%2C0.9%2C0.5h0c0.5%2C0%2C0.9-0.3%2C1.3-0.7l3.5-4l0.9%2C1l-3.5%2C4%0A%09%09c-0.7%2C0.7-1.5%2C1.2-2.3%2C1.2c0%2C0%2C0%2C0%2C0%2C0c-0.7%2C0-1.4-0.3-1.9-0.9C4.3%2C10.2%2C4%2C9.5%2C4%2C8.7c0-0.8%2C0.3-1.6%2C1-2.3l4.9-5.4%0A%09%09c1.3-1.4%2C3.7-1.4%2C5.1%2C0.1C16.3%2C2.7%2C16.4%2C5.3%2C15%2C6.7z%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.hode-soknad:before,
.hode-soknad:after {
  background-color: #bdbab7;
}
.hode-soknad:before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2212px%22%0A%09%20height%3D%2216px%22%20viewBox%3D%220%200%2012%2016%22%20enable-background%3D%22new%200%200%2012%2016%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20id%3D%22bkdg%22%20display%3D%22none%22%20opacity%3D%220.1%22%3E%0A%09%3Crect%20x%3D%22-2%22%20display%3D%22inline%22%20fill%3D%22%23FF00FF%22%20width%3D%2216%22%20height%3D%2216%22%2F%3E%0A%3C%2Fg%3E%0A%3Cg%20id%3D%22Layer_1%22%3E%0A%09%3Cpath%20fill%3D%22%23ffffff%22%20d%3D%22M2%2C12h8v-1H2V12z%20M10%2C8V7H2v1H10z%20M10%2C10V9H2v1H10z%20M12%2C4v12H0V0h8v4L12%2C4z%22%2F%3E%0A%09%3Cpolygon%20fill%3D%22%23ffffff%22%20points%3D%2212%2C3%209%2C3%209%2C0%20%09%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
}
.panel {
  background: #fff;
  padding: 1rem 1rem 1.25rem 1rem;
  margin-bottom: 1rem;
  display: block;
}
.panel:focus {
  outline: 3px #ffbd66 solid;
}
.panel-stablet {
  margin-bottom: 0;
}
.panel-fremhevet {
  background-color: #efefef;
}
.panel-ekstra,
.panel-relatert {
  position: relative;
  border: 1px solid #b7b1a9;
  margin-top: 1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  border-left-width: 0;
  border-right-width: 0;
}
.panel-ekstra:before,
.panel-relatert:before {
  content: "";
  position: absolute;
  border: 1px solid #b7b1a9;
  border-bottom-width: 0;
  border-right-width: 0;
  width: 1rem;
  height: 1rem;
  -webkit-transform: rotate(45deg) translateY(-100%) translateZ(0);
  -ms-transform: rotate(45deg) translateY(-100%) translateZ(0);
  transform: rotate(45deg) translateY(-100%) translateZ(0);
  -ms-transform: rotate(45deg) translateY(-100%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  top: -1px;
  left: 50%;
  background-color: inherit;
}
.panel-relatert {
  background-color: #fff;
}
.panel-ekstra {
  background-color: #efefef;
}
a.panel {
  display: block;
  color: #3e3832;
  border: 0;
}
a.panel:hover {
  border: 0;
}
a.panel:focus {
  outline: 3px #ffbd66 solid;
  background-color: #fff;
}
.panel-ramme,
a.panel-ramme {
  border: 1px solid #b7b1a9;
}
a.panel-ramme:hover {
  border: 1px solid #0067c5;
}
.panel-negativ,
.side-innhold .panel-negativ {
  background-color: #3e3832;
  color: #fff;
}
.panel-negativ a,
.side-innhold .panel-negativ a {
  color: #66cbec;
  border-bottom-color: #b7b1a9;
}
.panel-negativ a:visited,
.side-innhold .panel-negativ a:visited {
  color: #ff9100;
}
.panel-negativ a:visited:hover,
.side-innhold .panel-negativ a:visited:hover {
  border-bottom-color: #ff9100;
}
.panel-negativ a:hover,
.side-innhold .panel-negativ a:hover {
  border-bottom-color: #66cbec;
}
.panel-negativ a:focus,
.side-innhold .panel-negativ a:focus,
.panel-negativ a:active:focus,
.side-innhold .panel-negativ a:active:focus {
  color: #3e3832;
  border-bottom: 0;
}
.panel-negativ a:active,
.side-innhold .panel-negativ a:active {
  color: #ffbd66;
  border-bottom-color: #ffbd66;
}
.panel-ekstra .panel-ekstra {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 30rem) {
  .panel {
    padding: 2rem 2rem 2.25rem 2rem;
  }
  .panel-komprimert {
    padding: 1.25rem;
  }
  .panel-ekstra,
  .panel-relatert {
    border-left-width: 1px;
    border-right-width: 1px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
  }
  .panel-ekstra:before,
  .panel-relatert:before {
    left: 2rem;
  }
}
.blokk {
  margin-bottom: 2rem;
}
.blokk-xxs {
  margin-bottom: .5rem;
}
.blokk-xs {
  margin-bottom: 1rem;
}
.blokk-s {
  margin-bottom: 20px;
}
.blokk-m {
  margin-bottom: 2rem;
}
.blokk-l {
  margin-bottom: 2.5rem;
}
.blokk-xl {
  margin-bottom: 4rem;
}
.blokk-invert {
  margin-top: 2rem;
}
.ustilet {
  margin: 0;
  padding: 0;
}
.knapperad {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 1rem;
}
.knapperad-adskilt {
  border-top: 1px solid #b7b1a9;
}
.knapperad-dekorert {
  position: relative;
}
.knapperad-dekorert:before {
  content: "";
  display: block;
  width: 2rem;
  height: 1px;
  left: 50%;
  top: 0;
  position: absolute;
  background-color: #b7b1a9;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media (min-width: 30rem) {
  .knapperad {
    padding-top: 2rem;
  }
}
.panel-modulheader {
  margin-bottom: 1px;
  padding-top: 1.25rem;
  padding-bottom: 1.4rem;
}
.panel-modulheader h2 {
  margin: 0;
  font-family: Modus, Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
}
.dine-sykmeldinger {
  margin: 0 0 1rem 0;
  padding: 0;
  list-style-type: none;
}
.sykmelding-opplysning {
  margin-bottom: 1.5rem;
}
.sykmelding-opplysning:last-child {
  margin-bottom: 0;
}
.sykmelding-opplysning h3,
.sykmelding-opplysning h4 {
  color: #7f756c;
  margin-bottom: 0;
}
.sykmelding-opplysning h3 {
  font-size: 0.8125rem;
  text-transform: uppercase;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
@media (min-width: 30em) {
  .sykmelding-opplysning h3 {
    font-size: 0.75rem;
  }
}
.sykmelding-opplysning h4,
.sykmelding-opplysning p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
}
@media (min-width: 30em) {
  .sykmelding-opplysning h4,
  .sykmelding-opplysning p {
    font-size: 0.875rem;
  }
}
.sykmelding-header {
  background: #d1eff9 url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2019.2.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Outline_Icons%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%0A%09%20y%3D%220px%22%20viewBox%3D%220%200%2024%2024%22%20style%3D%22enable-background%3Anew%200%200%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3Anone%3Bstroke%3A%233E3832%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A10%3B%7D%0A%3C%2Fstyle%3E%0A%3Cg%3E%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M9%2C9.5C9%2C8.9%2C9.4%2C9%2C10%2C9s1-0.1%2C1%2C0.5%22%2F%3E%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M13%2C9.5C13%2C8.9%2C13.4%2C9%2C14%2C9s1-0.1%2C1%2C0.5%22%2F%3E%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M9.4%2C15.5c-4.3%2C0.7-8.9%2C0.6-8.9%2C4.7v3.3h23v-3.3c0-4.2-4.5-4-8.9-4.7%22%2F%3E%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M12%2C16.5c1.5%2C0%2C5-2%2C5-5c1.5%2C0%2C1.5-3%2C0-3L16.5%2C6c-4%2C0-4-1.5-4.5-2c-0.5%2C0.5-0.5%2C2-4.5%2C2L7%2C8.5c-1.5%2C0-1.5%2C3%2C0%2C3%0A%09%09C7%2C14.5%2C10.5%2C16.5%2C12%2C16.5z%22%2F%3E%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M18%2C9.3l0.5-3.8c0%2C0%2C0.5-5-6.5-5s-6.5%2C5-6.5%2C5L6%2C9.3%22%2F%3E%0A%09%3Ccircle%20class%3D%22st0%22%20cx%3D%227.5%22%20cy%3D%2220%22%20r%3D%221.5%22%2F%3E%0A%09%3Cline%20class%3D%22st0%22%20x1%3D%227.5%22%20y1%3D%2215.8%22%20x2%3D%227.5%22%20y2%3D%2218.5%22%2F%3E%0A%09%3Cline%20class%3D%22st0%22%20x1%3D%2217%22%20y1%3D%2215.9%22%20x2%3D%2217%22%20y2%3D%2217.5%22%2F%3E%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M15.5%2C21.5c-0.5%2C0-1-0.5-1-0.9V19c0-1%2C0.5-1.5%2C2.5-1.5%22%2F%3E%0A%09%3Cpath%20class%3D%22st0%22%20d%3D%22M18.5%2C21.5c0.5%2C0%2C1-0.5%2C1-0.9V19c0-1-0.5-1.5-2.5-1.5%22%2F%3E%0A%09%3Cline%20class%3D%22st0%22%20x1%3D%2211.5%22%20y1%3D%2216.5%22%20x2%3D%2211.5%22%20y2%3D%2223.5%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A") no-repeat left center;
  background-origin: content-box;
  background-size: 24px 24px;
}
@media only screen {
  .sykmelding-header h2 {
    padding-left: 2rem;
  }
}
.panel.sykmelding-teaser {
  margin-bottom: 1px;
  padding-right: 3rem;
  background-image: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209.19%2016.83%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bstroke%3A%23b7b1a9%3Bstroke-linecap%3Around%3Bstroke-width%3A2px%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Epil-videre-graa%3C%2Ftitle%3E%3Cpolyline%20class%3D%22cls-1%22%20points%3D%221%201%207.83%208.42%201%2015.83%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 97% center;
  background-size: 2rem 2rem;
  transition: background-position ease-in-out 0.1s;
  display: table;
  width: 100%;
}
.panel.sykmelding-teaser:hover {
  background-image: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209.19%2016.83%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bstroke%3A%230067c5%3Bstroke-linecap%3Around%3Bstroke-width%3A2px%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Epil-videre-blaa%3C%2Ftitle%3E%3Cpolyline%20class%3D%22cls-1%22%20points%3D%221%201%207.83%208.42%201%2015.83%22%2F%3E%3C%2Fsvg%3E");
  background-position: 97.5% center;
}
.panel.sykmelding-teaser p {
  margin: 0;
  padding: 0;
  font-size: 1.0625rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}
@media (min-width: 30em) {
  .panel.sykmelding-teaser p {
    font-size: 1rem;
  }
}
.teaser-ikon {
  display: none;
}
@media (min-width: 500px) {
  .teaser-ikon,
  .teaser-innhold {
    display: table-cell;
  }
  .teaser-ikon {
    width: 2rem;
    box-sizing: content-box;
    padding-right: 1rem;
    vertical-align: middle;
  }
  .teaser-ikon img {
    width: 100%;
    height: auto;
  }
}
.teaser-meta {
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
}
@media (min-width: 30em) {
  .teaser-meta {
    font-size: 0.875rem;
  }
}
.teaser-tittel {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.teaser-tittel small,
.teaser-tittel span {
  display: block;
  margin-bottom: 8px;
}
.side-header {
  margin: 2rem 0;
  text-align: center;
}
.panel-melding {
  text-align: center;
}
.brodsmuler {
  margin: 2rem 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
}
@media (min-width: 30em) {
  .brodsmuler {
    font-size: 0.875rem;
  }
}
.brodsmuler a,
.brodsmuler span {
  display: inline-block;
  margin-left: .5rem;
}
.brodsmuler a:first-child,
.brodsmuler span:first-child {
  margin-left: 0;
  padding-left: 0;
}
.brodsmuler a:not(:last-child):after {
  content: "/";
  display: inline-block;
  padding-left: .5rem;
  color: #b7b1a9;
}
.utvidbar {
  border: 1px solid #b7b1a9;
  border-radius: 2px;
}
.input-sok {
  margin-right: .5rem;
}
.utvidbar-tittel {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 30em) {
  .utvidbar-tittel {
    font-size: 0.875rem;
  }
}
.utvidbar-tittel a {
  color: #3e3832;
  display: table;
  padding: 10px;
  width: 100%;
}
.utvidbar-tittel a:focus {
  background-color: transparent;
  box-shadow: 0 0 0 3px #ffbd66;
}
.utvidbar-tittel span {
  display: table-cell;
  vertical-align: middle;
}
.utvidbar-tittel img {
  height: auto;
  width: 24px;
}
.utvidbar-ikon {
  width: 34px;
}
.utvidbar-tittel--apen a:after {
  border-top-width: 0;
  border-bottom-width: .75rem;
}
.utvidbar-innhold-beholder {
  max-height: 1500px;
  transition: max-height ease-in-out 0.6s;
  overflow: hidden;
}
@media only screen {
  .utvidbar-innhold-beholder--lukket {
    max-height: 0;
  }
}
.utvidbar-innhold {
  padding: 1rem;
  padding-bottom: 2.5rem;
}
.begrensning {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: .5rem;
  padding-right: .5rem;
}
.start-container {
  margin-bottom: 1rem;
}
@media (min-width: 29rem) {
  .start-container {
    display: inline-block;
    margin-right: 1rem;
  }
}
.app-spinner {
  width: 4rem;
  height: 4rem;
  border-top: 5px solid #fff;
  border-left: 5px solid #fff;
  border-bottom: 5px solid rgba(255, 255, 255, 0.25);
  border-right: 5px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: rotering 800ms infinite linear;
  animation: rotering 800ms infinite linear;
  border-bottom-color: #b7b1a9;
  border-left-color: #b7b1a9;
  border-top-color: #7f756c;
  border-right-color: #7f756c;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}
.panel-transparent {
  background-color: transparent;
}
.side-syfofront {
  padding-top: 4rem;
}
.redaksjonelt-innhold {
  line-height: 1.6;
}
.redaksjonelt-innhold h2,
.redaksjonelt-innhold h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 0;
}
