@btn-background-color: transparent;
@btn-background-hover-color: @color-link;
@btn-text-color: @color-link; 
@btn-border-color: @color-link; 
@btn-disabled-background-color: #ccc;

@btn-primary-background-color: @blue-link;
@btn-primary-background-hover-color: #1976CB;
@btn-primary-active-color: @blue-active;
@btn-primary-text-color: @white; 
@btn-primary-shadow-color: @gray-text;

@btn-danger-background-color: @red-error;
@btn-danger-background-hover-color: #C91919;
@btn-danger-background-color-active: @red-error-active;
@btn-danger-text-color: @white; 
@btn-danger-shadow-color: @red-error-active;

@btn-row-border-color: @gray-icon;

.knapp, 
.contrast .knapp,
.lenke-uthevet,
.contrast .lenke-uthevet,
.contrast .knapp-fare,
.contrast .knapp-hoved {
	padding: 8px 38px 10px 38px;
	border: 2px solid @btn-border-color;
	box-shadow: none; 

	&:hover {
		box-shadow: none;
	}

	&:focus, &:focus:hover {
		.mixin-focus-outline(3px);
	}
}

.contrast .knapp,
.contrast .knapp-fare,
.contrast .knapp-hoved, 
.lenke-uthevet,
.contrast .lenke-uthevet {
	&:hover, &:active, &:visited {
		transform: none; 
	}
}

.knapp, .lenke-uthevet {
	font-family: @font-family-profile;
	font-weight: 600;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	letter-spacing: 1px;
	border-radius: 2px;
	font-size: @rem-as-16px; 
	line-height: 1; 
	color: @btn-text-color;
	background: @btn-background-color;

	&:hover {
		border-color: @btn-background-hover-color;
	}

	&:active {
		border-color: @blue-active;
	}

	&:focus {
		outline: none;
		.mixin-focus-outline(3px); 
	}	

	&:hover {
		background-color: @btn-background-hover-color;
		color: @white; 	
	}

	&:focus:hover {
		color: @white;
	}

	&:focus:hover:active {
		color: @white; 
		.mixin-focus-outline(3px); 
	}

	&:active, 
	&.er-aktiv, 
	&:active:hover {
		color: @white;
		background: @blue-active;
		border-color: @blue-active;
		.mixin-transform(translateY(2px));
	}

	&.er-inaktiv, 
	&.er-inaktiv:hover, 
	&.er-inaktiv:hover:active, 
	&.er-inaktiv:active, 
	&.er-inaktiv:active:focus,
	&.er-inaktiv:focus,
	&.er-inaktiv:focus:hover {
		background: @btn-disabled-background-color;
		border-color: @btn-disabled-background-color;
		color: @gray-inactive; 
		transform: none; 
		box-shadow: none;
	}

	+ .knapp {
		margin-left: .5rem;
	}	

}

.knapp.er-inaktiv .spinner-knapp:after {
	border-top-color: rgba(0, 0, 0, .5);
	border-left-color: rgba(0, 0, 0, .5);
	border-bottom-color: rgba(0, 0, 0, .25);
	border-right-color: rgba(0, 0, 0, .25);	
}

.knapp-hoved, .knapp-fare {
	border: 0; 
	padding: 10px 40px 12px; 

	&:hover {
		.mixin-transform(translateY(-1px));
	}

	&:focus, &:active:focus {
		.mixin-focus-outline(3px);
	}

	&:active, &.er-aktiv {
		box-shadow: none;
	}

	&.er-inaktiv:hover, &.er-inaktiv:active:hover {
		box-shadow: none; 
		.mixin-transform(none);
	}

	&.knapp-liten, &.knapp-liten:hover {
		padding: 10px 20px 12px; 
	}

	&.knapp-stor, &.knapp-stor:hover {
		padding: 12px 50px 14px;
	}

}

.knapp-hoved {
	background-color: @btn-primary-background-color; 
	color: @btn-primary-text-color; 
	box-shadow: 0 -2px 0 @btn-primary-shadow-color inset; 

	&:hover {
		background-color: @btn-primary-background-hover-color;
		border-color: @btn-primary-background-hover-color;
		border-bottom-color: @btn-primary-shadow-color;
		box-shadow: 0 -2px 0 @btn-primary-shadow-color inset, 0 1px 0 @btn-primary-shadow-color;
	}

	&:active {
		box-shadow: none; 
	}	

	&:active, &:active:hover {
		background-color: @btn-primary-active-color;
		box-shadow: none; 
	}

	&:focus {
		box-shadow: 0 -2px 0 @btn-primary-shadow-color inset, 0 0 0 3px @color-focus;
	}

}

.knapp-fare {
	background-color: @btn-danger-background-color; 
	color: @btn-primary-text-color; 
	box-shadow: 0 -2px 0 @btn-danger-shadow-color inset; 

	&:hover {
		background-color: @btn-danger-background-hover-color;
		box-shadow: 0 -2px 0 @btn-danger-shadow-color inset, 0 1px 0 @btn-danger-shadow-color; 	
	}

	&:active {
		box-shadow: none; 
	}

	&:active, &:active:hover {
		background-color: @btn-danger-background-color-active;
	}

	&:focus {
		box-shadow: 0 -2px 0 @btn-danger-shadow-color inset, 0 0 0 3px @color-focus;
	}
}

.knapp-liten, 
.knapp-liten:hover, 
.contrast .knapp-liten,
.contrast .knapp-liten.knapp-fare,
.contrast .knapp-liten.knapp-hoved {
	font-size: @rem-as-14px;
	padding: 8px 18px 10px 18px;
}

.knapp-stor {
	font-size: @rem-as-17px;
	padding: 10px 48px 12px;
}

// -------------------------------
// KNAPP MED SPINNER
// -------------------------------

.knapp-spinner {
	position: relative;
	padding-right: 3rem;

	&.knapp-liten, &.knapp-liten:hover {
		padding-right: 3rem; 
	}

	&.knapp-stor, &.knapp-stor:hover {
		padding-right: 3.5rem; 
	}
}

// Spinnerens avstand til toppen

.knapp-stor .spinner-knapp:after {
	top: .65rem;
}

.knapp-liten .spinner-knapp:after {
	top: .40rem;
}

// Selve spinneren

.knapp-spinner .spinner-knapp:after {
	opacity: 1; 
}

.spinner-knapp:after { 
	.mixin-nav-spinner();
	position: absolute;
	opacity: 0; 
	content: "";
	border-radius: 50%;		
	top: .5rem; 
	right: 1rem; 
	.mixin-nav-transition(300ms);
}

// Tiltander/knappevarianter som skal ha hvit spinner

.knapp-hoved, 
.knapp-fare, 
.knapp:hover {
	.spinner-knapp:after {
		border-top-color: @white;
		border-left-color: @white;
		border-bottom-color: rgba(255, 255, 255, .25);
		border-right-color: rgba(255, 255, 255, .25);
	}
}

// -------------------------------
// HØYKONTRAST
// -------------------------------

.contrast {
	.knapp, 
	.knapp-hoved, 
	.knapp-fare,
	.lenke-uthevet {
		color: @yellow;
		border-color: #fff; 

		&:hover {
			text-decoration: underline; 
			border: 2px solid @yellow;
		}

		&:focus:hover {
			color: @yellow;
		}

		&:active {
			color: @yellow;
		}

		&:focus {
			box-shadow: 0 0 0 3px @color-focus;
		}

		&.er-inaktiv {
			border-color: gray; 
			color: gray; 
			&:active, &:hover {
				text-decoration: none; 
				color: gray;
				border-color: gray; 
			}
		}
	}

	.knapp, 
	.knapp-fare, 
	.knapp-hoved {
		.spinner-knapp:after {
			border-top-color: @white;
			border-left-color: @white;
			border-bottom-color: rgba(255, 255, 255, .25);
			border-right-color: rgba(255, 255, 255, .25);
		}
	}

	.knapp-liten.knapp-spinner {
		padding-right: 3rem; 
	}

	.knapp-spinner, .knapp-stor.knapp-spinner {
		padding-right: 3rem; 
	}

}