{
	"extends": "airbnb",
	"globals": {
		"$": false
	},
	"rules": {
		"indent": [2, "tab"],
		"arrow-body-style": ["error", "always"],
		"react/jsx-indent-props": [2, "tab"],
		"react/jsx-closing-bracket-location": 0,
		"max-len": 1,
		"prefer-template": 1
	}
}