.infoside-fo {
    .sidebanner {
        margin-bottom: 0;
    }

    .sidebanner__innhold {
        min-height: 9rem;
    }

    .sidebanner__tittel {
        margin-top: 2rem;
    }

    .rad {
        padding: 4rem 0;

        &.rad--hvit {
            background-color: @white;
        }

        &.rad--graa {
            background-color: transparent;
        }

    }

    .knapperad {
        display: flex;
        flex-direction: column;

        & > .knapp {
            flex-grow: 1;
            margin: 1rem 0;
        }

    }

}

@media (min-width: @skjermLiten) {
    .knapperad {
        flex-direction: row !important;

        .knapp {

            &:nth-child(odd) {
                margin: 0 .5rem 0 0;
                flex-grow: 1;
            }

            &:nth-child(even) {
                margin: 0 0 0 .5rem;
                flex-grow: 1;
            }

        }

    }

}