.infoside-fo {
    .sidebanner {
        margin-bottom: 0;
    }

    .sidebanner__innhold {
        min-height: 9rem;
    }

    .sidebanner__tittel {
        margin-top: 2rem;
    }

    .rad {
        &.rad--hvit {
            background-color: @white;
        }

        &.rad--graa {
            background-color: transparent;
        }

        .begrensning {
            padding: 4rem 0;
        }
    }
}
